//Color palette
$color-background: rgb(12, 12, 12);
$color-primary: rgb(251, 192, 54);
$color-secondary: rgb(250, 225, 157);
$color-font-primary: rgb(252, 252, 252);
$color-font-secondary: rgb(17, 17, 0);
