@import "../../../UI/variables.scss";

.city {
  &__wrapper {
    border: 5px solid $color-primary;
    border-radius: 30px;
    padding: 10px;
  }
  &__name {
    background-color: $color-primary;
    border-radius: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__details {
    background-color: $color-secondary;
    text-transform: none;
    font-weight: 500;
  }
}
